{%extends 'base.html'%}

{%block content%}
<h1>Hello, {{user.username}}!</h1>
<h1>Ingredients</h1>
<table>
    <tr>
        <th>name</th>
        <th>quantity</th>
        <th>unit</th>
        <th>price per unit</th>
        <th>total cost</th>
   </tr>
  {%for ingredient in ingredients%}
  <tr>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.quantity}}</td>
      <td>{{ingredient.unit}}</td>
      <td>{{ingredient.unit_price}}</td>
      <td>{%widthratio ingredient.unit_price 1 ingredient.quantity%}</td>
  </tr>
  {%endfor%}
</table>

<h1>Recipes</h1>
<table>
    <tr>
        <th>name</th>
        <th>price</th>
        <th>available</th>
        <th>requirements</th>
   </tr>
  {%for item in menu_items%}
  <tr>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.available}}</td>
      <td><ul>
            {%for recipe in item.reciperequirement_set.all%}
            <li>{{recipe.ingredient.name}} - {{recipe.quantity}} {{recipe.ingredient.unit}}</li>
            {%endfor%}
          </ul>
      </td>

  </tr>
  {%endfor%}
</table>

<h1>Today's purchases</h1>
<table>
    <tr>
        <th>Purchased items</th>
        <th>Date time</th>
        <th>Total cost</th>
   </tr>
  {%for purchase in today_purchases%}
  <tr>
      <td>{{ purchase.purchased_item.name }}</td>
      <td>{{purchase.timestamp}}</td>
      <td>{{purchase.purchased_item.price}}</td>
  </tr>
  {%endfor%}
</table>
{%endblock%}