{%extends 'base.html'%}
{%load static%}
{% block recipes %} active {% endblock %}
{%block content%}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center" style="margin-top: 15px;">Recipes</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive table-bordered" style="padding-right: 100px;padding-left: 100px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Menu item</th>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                  {% for recipe in reciperequirement_list %}
                  <tr>
                      <td><a href="{% url 'update_recipe' recipe.pk%}">{{ recipe.menu_item.name }}</a></td>
                      <td>{{ recipe.ingredient.name }}</td>
                      <td>{{ recipe.quantity }} {{ recipe.ingredient.unit }}</td>
                      <td style="width: 98px;"><a class="btn btn-primary" type="button" href="{% url 'delete_recipe' recipe.pk%}">Delete</a></td>
                  </tr>
                  {% endfor %}
                <tr></tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xl-4 offset-lg-4 d-lg-flex justify-content-lg-center"><a class="btn btn-primary" type="button" href="{%url 'add_recipe'%}">Add recipe</a></div>
    </div>
{%endblock%}
